nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #eb4921, #f48d80);
    color: white;
    padding: 10px;
    height: 8vh;
    font-size: xx-large;
    font-weight: bold; 
}