.grid-container {
    background-color: bisque;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr); /* 创建 3 列 */
    grid-template-rows: repeat(3, 1fr);    /* 创建 3 行 */
    width: 20vw; /* 容器的宽度 */
    height: 20vw; /* 容器的高度 */
}
  
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  
.small {
    background-color: lightgray; /* 其他小单元的背景色 */
    margin: 20%;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4); /* 减少阴影 */
}
  
.large {
    background-color: lightblue; /* 中间单元的背景色 */
    border-radius: 20%;
}
  
.hidden {
    visibility: hidden; /* 隐藏四个角的单元 */
}
  
.clicked {
    /* transform: scale(0.85); 
    transition: transform 0.15s; 
    box-shadow: 0 8px 15px rgba(120, 49, 49, 0.3);  */
    background-color: rgb(124, 16, 225);
}
